body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000000, #1c1c1c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: #111;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  text-align: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo span {
  color: #00ff88;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: #1e1e1e;
  color: white;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #00ff88;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00cc6a;
}

.links {
  margin-top: 15px;
  font-size: 13px;
}

.links a {
  color: #00ff88;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  cursor: pointer;
}

.links a:hover {
  text-decoration: underline;
}

.erro {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: 10px;
}